   /* Basic styling for the form */
   body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 50px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.advertisement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 30px;
}

.advertisement img,
.advertisement video {
    width: 45%;
    /* Adjust the size of the frames */
    margin-bottom: 20px;
}

.countdown {
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
    color: #eeeeee;
    background-color: #c00000;
    border-radius: 23px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(228, 83, 83, 0.1);
}
